<%- include('partials/header') %>

<!------ Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>Set a New Password</h2>
      </div>
    </div>
  </div>
</section>

<!------ Password Change Form ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <form method="post" action="/clinic-password">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2 class="aboutpage-title">&nbsp;</h2>
          <% if (error) { %>
            <h4><font color="red"><%= error %></font></h4>
          <% } %>
          <div class="aboutpage-content">
            <div class="form-group inner-tittle">
              <label class="inner-tittle">New Password <span class="red-star">*</span></label>
              <input type="password" class="form-control" name="new_password" placeholder="At least 8 characters" maxlength="72" required minlength="8">
            </div>
            <div class="form-group inner-tittle">
              <label class="inner-tittle">Confirm New Password <span class="red-star">*</span></label>
              <input type="password" class="form-control" name="confirm_password" placeholder="Repeat the new password" maxlength="72" required minlength="8">
            </div>
            <button type="submit" class="btn btn-warning submit-form">Save New Password</button>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="aboutpage-content" style="padding-top:60px; text-align:center; color:#555;">
            <p><em>Your account (<%= username %>) is still using the default password.</em><br>
            For security, you must set a new password before using the BMD Calculator.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
